torch>=2.0.0
transformers>=4.30.0
bitsandbytes>=0.35.0

datasets
huggingface-hub

# Replaces the local path with GitHub repo
git+https://github.com/AI4Bharat/IndicTrans2.git#subdirectory=IndicTransToolkit

indic-transliteration
indic-nlp-library-itt

streamlit

sentencepiece==0.1.99  # ✅ Avoids build error
sacremoses
regex

tqdm
filelock
numpy
scipy
requests
